## Exercise 1: Write a function to sort the list based on the first letter of the second element

lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

In [3]:
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
print(f'Original list: {lst}')
lst.sort(key=lambda i:i[1])
print(f'Sorted list: {lst}')

Original list: [(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]
Sorted list: [(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

## Exercise 2:  Write a function to sort the list based on the last letter of the second element

Use list from previous question

In [4]:
print(f'Original list: {lst}')
lst.sort(key=lambda i:i[1][-1])
print(f'Sorted list: {lst}')

Original list: [(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]
Sorted list: [(4887871, 'Alabama'), (39865590, 'California'), (1805832, 'West Virginia'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

## Exercise 3: Create a range from 1 to 8 merge the given list and together to create a new list of tuples.

lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]

In [5]:
import numpy as np
lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]
a=np.arange(1,8)
list(map(lambda i,j:(i,j),lst1,a))

[('Energy', 1),
 ('Agriculture', 2),
 ('Industry', 3),
 ('Technology', 4),
 ('Finance', 5),
 ('Forestry', 6),
 ('Transport', 7)]

## Exercise 4: Write a function and create a list consisted of the number of occurence of letter: a (all a's).

lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]

In [6]:
lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]
list(map(lambda i:i.lower().count('a'),lst1))

[3, 2, 3, 3, 3, 3, 3]

## Exercise 5: Write a function filter all the vowels in a given string using filter.

str1="Inceptz is one of the best institutes to read data science in chennai"

In [8]:
str1="Inceptz is one of the best institutes to read data science in chennai"
vow=['a','e','i','o','u']
str2=list(str1)
def vowels(str2):
    for i in str2:
        if i.lower() in vow:
            return i
a=list(filter(vowels,str1))
a

['I',
 'e',
 'i',
 'o',
 'e',
 'o',
 'e',
 'e',
 'i',
 'i',
 'u',
 'e',
 'o',
 'e',
 'a',
 'a',
 'a',
 'i',
 'e',
 'e',
 'i',
 'e',
 'a',
 'i']

## Exercise 6:  Write a function to create a list as the square of elements from the given list if the square is greater than 60

lst1=[5, 6, 7 , 8, 9, 10, 12, 14]

In [10]:
lst1=[5, 6, 7 , 8, 9, 10, 12, 14]
a=list(map(lambda k :k*k ,lst1))
list(filter(lambda l:l >60,a))

[64, 81, 100, 144, 196]

## Exercise 7: take the words given below as list and write a function and use reduce to make it a sentence
Inceptz 

provides

the

best

inclass 

trainings 

and

is 

the 

best

In [11]:

list1=['Inceptez','provides','the','best','inclass','trainings','and','is','the','best']
from functools import reduce
reduce(lambda x,y:x+ ' ' +y,list1)

'Inceptez provides the best inclass trainings and is the best'