In [2]:
def square(y):
    return y*y
square(2)

4

In [ ]:
## Anonymous Function - Lambda Function - It has no name
##Syntax 
df['col_name'].apply(lambda x: x*x)

df1['new_col'] = df.apply(lambda x: some_function(x['col_1'],x['col_2']),axis = 1)

In [3]:
s = lambda y: y*y
print(s(2))

4

In [ ]:
#Map Function 
map(FUNC,*ITERABLE)
'''
Docstring:     
map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.
'''

In [4]:
myfriends = ['Abijith','Senthil','Hari','Laxmi']
uppercase =  []

for names in myfriends: 
    name_upper = names.upper()
    uppercase.append(name_upper)
uppercase

['ABIJITH', 'SENTHIL', 'HARI', 'LAXMI']

In [8]:
list(map(str.upper, myfriends))

['ABIJITH', 'SENTHIL', 'HARI', 'LAXMI']

In [ ]:
#Assignment1
float_numbers = [7.44,9.00,5.92,60.30,4.67]

1. Use map and return a list with rounded numbers

In [11]:
#Assignment2
name =['Abijith','Senthil','Hari','Laxmi']
index = [1,2,3,4]

[('Abijith',1),('Senthil',2),('Hari','3'),('Laxmi',4)]

'''
1. Loops 
2. Lambda + Map
'''

'\n1. Loops \n2. Lambda + Map\n'

In [12]:
list(map(lambda i,j:(i,j),name,index))

[('Abijith', 1), ('Senthil', 2), ('Hari', 3), ('Laxmi', 4)]

In [14]:
#Filter
'''
Docstring:     
filter(function or None, iterable) --> filter object

Return an iterator yielding those items of iterable for which function(item)
is true. If function is None, return the items that are true.
'''

'\nDocstring:     \nfilter(function or None, iterable) --> filter object\n\nReturn an iterator yielding those items of iterable for which function(item)\nis true. If function is None, return the items that are true.\n'

In [18]:
Salary = [50000,40000,30000,60000]
lst = []
for i in Salary: 
    if(i < 50000):
        lst.append(i)

In [19]:
lst

[40000, 30000]

In [24]:
def lower_salary(salaries):
    return salaries < 50000
list(map(lower_salary,Salary))

[False, True, True, False]

In [22]:
#Filter automaticaly filters and outputs values for True conditions alone (its not apply its filter)
list(filter(lower_salary,Salary))

[40000, 30000]

In [ ]:
#List Comprehension
words = ['inceptez','batch15','pythn','class']
vowels = ['a','e','i','o','u']
return list of words with just vowels

In [38]:
import datetime 
words = ['inceptez','batch15','pythn','class']
vowels = ['a','e','i','o','u']
start = datetime.datetime.now()
list_vow = []
for i in words:
    for j in i: 
        if(j in vowels):
            print(i)
            list_vow.append(i)

inceptez
inceptez
inceptez
batch15
class

In [42]:
import datetime 
words = ['inceptez','batch15','pythn','class']
vowels = ['a','e','i','o','u']
start = datetime.datetime.now()
list_vow = []
for i in words:
    word = list(i)
    if(any(k in vowels for k in word)):
        print(i)
        list_vow.append(i)
#print((datetime.datetime.now() - start)*1000)

inceptez
batch15
class

In [ ]:
words = ['inceptez','batch15','pythn','class']
vowels = ['a','e','i','o','u']

In [44]:
hal = [j for j in words for k in j if k in vowels]
hal

['inceptez', 'inceptez', 'inceptez', 'batch15', 'class']

In [45]:
#Reduce 
from functools import reduce

In [46]:
nums = [1,2,3,4,5,6,7,8,9]
def sum_numbers(first,second):
    return first+second
reduce(sum_numbers,nums)

45